$blue: #62dfba;
$appBlue: rgb(89, 89, 190);

.App__header {
  grid-area: header;
  background-color: darkcyan;
  box-shadow: 0 0 6px $appBlue;
}
.Menu {
  grid-area: menu;
}
.App__page {
  grid-area: page;
}
.App__footer {
  grid-area: footer;
  background-color: darkcyan;
  box-shadow: 2 0 6px $appBlue;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 20em auto;
  grid-template-rows: 5em auto 5em;
  grid-template-areas:
    "header header"
    "menu page"
    "footer footer";
  gap: 1em 1em;
}

h2 {
  font-size: 1.8em;
}
p {
  font-size: 1.2em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
